html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  height: 100%;
}

.landingPage {
  height: 100%;
  min-width: 100%;
  background-image: url(https://i.imgur.com/rRvSfXV.jpg);
  background-size: cover;
  display: grid;
  justify-content: center;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
}

.landingPage div {
  /* border: 3px solid black; */
}

/* .layer {
  background-color: rgba(132,138,140,0.5);
  height: 100%;
  min-width: 100%;
  position: fixed;
} */

.greeting {
  display: grid;
  justify-self: center;
  text-align: center;
  grid-area: d;
  text-shadow: 3px 3px 5px #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 300%;
  font-weight: 700;
  color: white;
}

.hireMe {
  grid-area: e;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 130%;
}

.hireMe a:link, a:visited {
    padding: 14px 25px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    background-color: rgba(0,0,0,0);
    transition-duration: 0.3s;
}

.hireMe a:hover, a:active {
    background-color: rgba(0,70,0,.9);
    width: 110px;
    transition-duration: 0.3s;
    text-align: center;
    /* learn how to change the text content on hover */
}

.learnMore {
  grid-area: f;
  justify-self: center;
  text-align: center;
  align-self: end;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 50px;
}

.learnMore a{
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
}

.learnMore a:hover {
  font-weight: 600;
  /* transition-duration: 0.3s; */
}

.pageTwo {
  height: 90%;
  display: grid;
  grid-template-areas:
    "a b c"
    "d e e"
    "d f f";
  grid-auto-columns: 1fr;
  grid-gap: 60px;
  padding: 5%;
  font-family: 'Montserrat', sans-serif;
  /* background-color: white; */
  /* background-color: rgb(238,238,238); */
}

/* .headline {
  grid-area: a;
  display: grid;
  grid-template-areas:
  "a b";
  justify-content: space-between;
}

.headlineLeft {
  grid-area: a;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0px;
}

.headlineLeft > div {
  border: 2px solid blue;
}

.headlineRight > div {
  border: 2px solid green;
}

.headlineRight {
  grid-area: b;
  display: grid;
  grid-template-areas:
    "a b"
    "c c"
    "d d";
}

.resumeLink a {
  color: black;
  text-decoration: none;
}

.resume {
  grid-area: a;
}

.linkedIn {
  grid-area: b;
  justify-self: end;
} */

/* .email {
  grid-area: c;
}

.phone {
  grid-area: d;
}

.headshot {
  grid-area: b;
  justify-self: center;
}

.headshot img {
  border-radius: 50%;
  width: 200px;
} */

.past {
  grid-area: a;
}

.pastHeader {
  font-size: 140%;
  font-weight: 800;
  margin-bottom: 10px;
}

.present {
  grid-area: b;
}

.presentHeader {
  font-size: 140%;
  font-weight: 800;
  margin-bottom: 10px;
}

.future {
  grid-area: c;
}

.futureHeader {
  font-size: 140%;
  font-weight: 800;
  margin-bottom: 10px;
}

.LI-profile-badge {
  grid-area: d;
  color: black;
  align-self: center;
}

.skills {
  grid-area: e;
  border: 2px solid rgb(238,238,238);
  font-family: 'Oswald', sans-serif;
  /* padding-left: 5px;
  padding-right: 5px; */
  margin: 0px 30px;
}

.skillsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

}

.skeelz {
  align-self: center;
  justify-self: center;
}

/* .skills ul {
  list-style-type: none;
  column-count: 3;
  padding: 0px 20px;
}

.pageTwo li {
  padding-bottom: 15px;
  text-align: center;
} */

.skillsHeader {
  font-size: 140%;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.education {
  grid-area: f;
  border: 2px solid rgb(238,238,238);
  margin: 0px 30px;
}

.educationList {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
}

.educationHeader {
  font-size: 140%;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 1024px) {
  .pageTwo {
    display: grid;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
  }

  .past {
    grid-area: a;
  }

  .present {
    grid-area: b;
  }

  .future {
    grid-area: c;
  }

  .skills {
    grid-area: d;
  }

  .education {
    grid-area: e;
  }

  .LI-profile-badge {
    grid-area: f;
    margin-bottom: 30px;
    justify-self: center;
  }
}


@media (max-width: 480px) {
  .pageTwo {
    display: grid;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
  }

  .past {
    grid-area: a;
  }

  .pastHeader{
    text-align: center;
  }

  .present {
    grid-area: b;
  }

  .presentHeader{
    text-align: center;
  }

  .future {
    grid-area: c;
  }

  .futureHeader{
    text-align: center;
  }

  .skills {
    grid-area: d;
  }

  .skeelz {
    justify-self: left;
  }

  .education {
    grid-area: e;
  }

  .LI-profile-badge {
    grid-area: f;
    margin-bottom: 30px;
    justify-self: center;
  }
}
